<h1><%= t ".title" %></h1>
<p><%= t ".greeting" %> <%= @user.name %>,</p>
<p><%= t ".welcome" %></p>
<%= link_to t(".activate_text"), edit_account_activation_url(id: @user.activation_token, email: @user.email, host: Settings.app_url, port: Settings.app_port) %>
