<h1><%= t ".title" %></h1>

<p><%= t ".reset_link_text" %></p>
<%= link_to t(".title"), edit_password_reset_url(id: @user.reset_token, email: @user.email, host: Settings.app_url, port: Settings.app_port) %>
<p><%= t ".expired_text" %></p>
<p><%= t ".ignore_reset" %></p>
